@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* 공통사항 */
.body{
  font-family: "Noto Sans", sans-serif;
}
:root{
  --brand : #FD6562;
  --point : #3F0D1A;
  --font1 : 14px
}
.title{
  font-weight: 700;
  color: var(--point);
  margin-bottom: 15px;
}
.blind{font-size: 0; line-height: 0; overflow: hidden; height: 0; visibility: hidden;}

/* header Area */
header{
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  position: fixed;
  background: #fff;
  z-index: 1000;
}
header .event{
  width: 100vw;
  height: 3vh;
  background: var(--brand);
  padding: 20px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font1);
}
header .event .eventMenu{
  display: flex;
  gap: 30px;
}
header .event .eventMenu li a img{
  margin-right: 8px;
}

header .header{
  width: 100vw;
  padding: 20px 45px;
  display: flex;
  align-items: center;
/*   border-bottom: 1px solid black; */ /* 영역 확인용 */
}
header .header .logo{
  margin-right: 30px;
}
header .header .gnb{
  display: flex;
  gap: 30px;
}
header .header .gnb li{
  cursor: pointer;
  line-height: 1.4;
}
header .header .gnb li:nth-child(2), header .header .gnb li:nth-child(3){
  color: var(--brand);
  border-bottom: 1px solid var(--brand);
}
header .header .gnb li:hover{
  color: var(--brand);
  transition: all 0.2s;
}
header .header .gnb li:first-child:hover, header .header .gnb li:nth-child(4):hover, header .header .gnb li:nth-child(5):hover {
  border-bottom: 1px solid var(--brand);
}
header .header li:last-child{
  margin-left: auto; /* 마지막 li만 왼쪽정렬 되도록 */
}
header .header .nav{
  display: flex;
  gap: 15px;
}


/* gnbMenu area */
.gnbMenu{
  width: 100%;
  padding: 30px 45px;
  display: flex;
  gap: 80px;
  border-top: 1px solid #dbdbdb;
  background: #fff;
}
.gnbMenu .left{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gnbMenu .left a{
  width: max-content;
  border-bottom: 1px solid transparent; /* hover시 움직임 방지 */
  line-height: 1.5;
}
.gnbMenu .left a:hover{
  border-bottom-color: var(--brand) ;
}
.gnbMenu .left p{
  margin-top: 20px;
  color: var(--brand);
  font-weight: 600;
}
.gnbMenu .middle{
  display: flex;
  gap: 80px;
}
.gnbMenu .middle .title{
  display: block;
}
.gnbMenu .middle .list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 50px;
}
.gnbMenu .right{
  display: flex;
  width: 30%;
  gap: 40px;
  margin-left: auto;
}
.gnbMenu .right div{
  cursor: pointer;
}
.gnbMenu .right img{
  width: 100%;
  margin-bottom: 20px;
}
.gnbMenu .right p{
  font-size: 20px;
  font-weight: 600;
}
.gnbMenu .right div:hover p{
  color: var(--brand);
}
.gnbMenu a:hover{
  color: var(--brand);
}
/* css 간결화를 위해 분리 */
.shopAll .right{
  width: 15% !important;
  display: block !important;
  cursor: pointer;
}
.shopAll .right:hover p{
  color: var(--brand);
}
/* 포지션값 통일을 위해 class 통일함 */
.gnbMenu{
  position: fixed;
  top: 110px;
  z-index: 1000;
  display: none;
}
.gnbMenu.on{
  display: flex;
}

/* mainimg area */
.MainImg{
  height: 100vh;
  background: url(../public/asset/img_mainImg.jpg) no-repeat center/cover;
  position: relative;
  padding-top: 100px;
  background-origin:content-box; /* 이미지에 padding값이 먹지 않아서 설정 */
}
.MainImg .mainTitle{
  position: absolute;
  bottom: 20%;
  left: 5%;
  color: var(--point);
}
.MainImg .mainTitle h3{
  font-size: 2.5vw ;
  margin-bottom: 3vh;
}
.MainImg .mainTitle p{
  font-size: 1.3vw;
  margin-bottom: 3vh;
}
.MainImg .mainTitle button{
  background: var(--brand);
  color: var(--point);
  display: block;
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
}

/* item-list-section */
.ItemListSection{
  width: 100%;
  height: auto;
  margin: 50px 0;
  padding: 0 20px;
}
.ItemList{
  height: 95vh;
  position: relative;
}
/* progressbar에 걸려있는 기존 css 우선순위를 이기기 위해 작성 */
.ItemListSection .ItemList .swiper-pagination-progressbar{
  position: absolute;
  bottom: 0px;
  left: 0;
  top: auto;
  width: 100%;
  height: 3px;
  background: #fdfdfd;
}
.ItemListSection .ItemList .swiper-pagination-progressbar-fill{
  background: #e7d8d4;
}

.ItemCard{
  width: 100%;
  cursor: pointer;
}
.ItemCard:hover img{
  border-bottom: 1px solid var(--brand);
}
.ItemCard img{
  width: 100%;
  aspect-ratio: 1 / 1.5;
}
.ItemCard .cardText{
  padding: 0 10px;
}
.ItemCard .cardText h3{
  color: var(--point);
  font-size: 18px;
  margin: 10px 0;
}
.ItemCard .cardText p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
}
.ItemCard .cardText span{
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

/* collection area */
.CollectionSection{
  padding-top: 50px;
}
.ourCollection{
  width: 70%;
  margin: 50px auto;
}
.ourCollection .gotoSection{
  display: flex;
  gap: 30px;
}
.gotoSection .peachlily{
  flex: 1;
}
.gotoSection .peachlily .peachlily_img{
  background: url(/public/asset/img_goto_peachlily.jpg) no-repeat center/cover;
  display: block;
  width: 100%;
  aspect-ratio: 1 / 0.8;
  cursor: pointer;
}
.gotoSection .peachSlice{
  flex: 1;
}
.gotoSection .peachSlice .peachSlice_img{
  background: url(/public/asset/img_goto_peachSlice.jpg) no-repeat center/cover;
  display: block;
  width: 100%;
  aspect-ratio: 1 / 0.8;
  cursor: pointer;
}
.goto_text{
  margin-top: 20px;
  color: var(--point);
  padding: 0 3px;
}
.goto_text h3{
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
}
.goto_text button{
  margin: 15px 0;
  background: none;
  color: var(--point);
  transition: color ease 0.3s;
}
.goto_text button::after{
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: var(--point);
  margin-top: 5px;
  transition: background ease 0.3s;
}
.goto_text button:hover{
  color: #8C6D76;
}
.goto_text button:hover::after{
  background-color: #8C6D76;
}
.collectionImg{
  background: url(/public/asset/img_collection_mainImg.jpg) no-repeat center/cover;
  height: 45vh;
  position: relative;
  margin-bottom: 50px;
}
.collectionImg .collection_text{
  position: absolute;
  bottom: 50%;
  left: 5%;
  transform: translateY(50%);
  color: var(--point);
}
.collectionImg .collection_text h3{
  font-size: 2.5vw;
  font-weight: 500;
  margin-bottom: 15px;
}
.collectionImg .collection_text p{
  line-height: 1.3;
}

/* footer */
.footer{
  height: 85vh;
  background: var(--brand);
  padding-top: 40px;
}
.footer .content{
  width: 85%;
  height: 100%;
  margin: auto;
  position: relative;
}
.footer_logo{
  font-size: 4vw;
  margin-bottom: 40px;
}
.footer_event {
  width: 30%;
}
.footer_event span{
  display: block;
  font-size: 24px;
  margin-bottom: 15px;
}
.footer_event p{
  margin-bottom: 10px;
  font-weight: 300;
  line-height: 1.5;
}
.footer_event .firstOrder{
  margin-bottom: 50px;
}
.footer_event .firstOrder .email{
  all: unset;
  display: block; /* all : unset 떄문에 값이 안잡혀서 작성 */
  width: 100%;
  border-bottom: 1px solid var(--point);
  padding: 13px 5px;
  margin-bottom: 10px;
}
.footer_event .firstOrder .email:focus{
  outline: 1px solid #fff;
}
.footer_event .firstOrder .inputWrap{
  position: relative;
  margin-bottom: 20px;
}
.footer_event .firstOrder .inputWrap::after{
  content: '';
  position: absolute;
  top: 50%; right: 0;
  transform: translateY(-50%);
  display: block;
  background: url(/public/asset/ico/ico_arrowRight.png) no-repeat center/cover;
  width: 20px;
  height: 20px;
}
.footer_event .firstOrder input[type="checkbox"]{
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  background-color: transparent;
  cursor: pointer;
  color: var(--point);
}
.footer_event .firstOrder input[type="checkbox"]:checked{
  background: #000;
}
.footer_event .subscribe button{
  background: transparent;
  padding: 5px 0;
  font-size: 16px;
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
}
.footer .footer_gnb{
  width: 50%;
  position: absolute;
  top: 5%; right: 0;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.footer .footer_gnb li{
  display: flex;
  flex-direction: column;
}
.footer .footer_gnb li .title{
  margin-bottom: 40px;
  font-weight: 800;
}
.footer .footer_gnb li a{
  margin-bottom: 20px;
  font-weight: 300;
}
.footer .footer_under{
  border-top: 1px solid #000;
  padding: 25px 0 10px 0;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.footer .footer_under .under_left{
  display: grid;
  grid-template-columns: repeat(3, max-content);
  width: 30%;
  gap: 10px 20px;
  font-weight: 200;
}
.footer .footer_under .under_right{
  display: flex;
  gap: 20px;
}
.footer .footer_under .under_right a{
  display: block;
  width: 25px; height: 25px;
}
.footer .footer_under .under_right .pint{
  background: url(/public/asset/ico/ico_pint.png) no-repeat center/cover;
}
.footer .footer_under .under_right .youtube{
  background: url(/public/asset/ico/ico_you.png) no-repeat center/cover;
}
.footer .footer_under .under_right .facebook{
  background: url(/public/asset/ico/ico_face.png) no-repeat center/cover;
}
.footer .footer_under .under_right .insta{
  background: url(/public/asset/ico/ico_insta.png) no-repeat center/cover;
}
.footer .footer_under .under_right .tictoc{
  background: url(/public/asset/ico/ico_tic.png) no-repeat center/cover;
}